In [1]:
import pandas as pd
import numpy as np

In [2]:
import statistics as st

In [3]:
dept=pd.read_csv('Department .csv')

In [4]:
dept_scheme=pd.read_csv('receipt_dept_mapping.csv')

In [5]:
scheme=pd.read_csv('receipt_schemes.csv')

In [6]:
missing_mapping=pd.read_excel('missing_mapping1_dept_code_updated.xlsx')

In [7]:
missing_mapping=missing_mapping[missing_mapping['major_head']<2000]

In [8]:
missing_mapping=missing_mapping.drop(['Unnamed: 0'],axis=1)

In [9]:
missing_mapping.drop(199,inplace=True)
missing_mapping.drop(116,inplace=True)

In [10]:
missing_mapping=missing_mapping.drop(['submajor_head','minor_head','subminor_head','sub_head'],axis=1)

In [11]:
missing_mapping.scheme_code=missing_mapping.scheme_code.astype(str)

In [12]:
missing_mapping.dept_code=missing_mapping.dept_code.astype(np.int64)

In [13]:
dept_scheme.scheme_code=dept_scheme.scheme_code.astype(str)

In [14]:
missing_mapping.scheme_code=missing_mapping.scheme_code.str.zfill(13)

In [15]:
dept_scheme.scheme_code=dept_scheme.scheme_code.str.zfill(13)

In [16]:
mheads1=[]
for i in dept_scheme['scheme_code']:
    mheads1.append(i[:4])
dept_scheme['major_head']=mheads1

In [17]:
#mheads2=[]
#for i in missing_mapping['scheme_code']:
#    mheads2.append(i[:4])
#missing_mapping['major_head']=mheads2

In [18]:
mapping=pd.concat([dept_scheme,missing_mapping]).reset_index(drop=True)

In [19]:
mapping.drop('major_head',axis=1,inplace=True)

In [20]:
missing_scheme=['403001051300',  '401001070500',   '70608000002',  '230001060600',
        '220001040100',  '210018000000', '1456008000200', '1456008000109',
        '210041040300',   '220601040100',  '406041010700']

In [21]:
missing_schemes=[]
for i in missing_scheme:
    i=i.zfill(13)
    missing_schemes.append(i)

In [22]:
other_scheme=pd.DataFrame({'dept_code':[1,2,27,9,9,9,12,12,15,21,13],
    'scheme_code':missing_schemes})

In [23]:
other_scheme

    dept_code    scheme_code
0           1  0403001051300
1           2  0401001070500
2          27  0070608000002
3           9  0230001060600
4           9  0220001040100
5           9  0210018000000
6          12  1456008000200
7          12  1456008000109
8          15  0210041040300
9          21  0220601040100
10         13  0406041010700

In [24]:
missing_scheme=pd.read_csv('missing_scheme_code.csv')

In [25]:
missing_scheme.drop('Unnamed: 0',axis=1,inplace=True)

In [26]:
missing_scheme.scheme_code=missing_scheme.scheme_code.astype(str)

In [27]:
missing_scheme['scheme_code']=missing_scheme['scheme_code'].str.zfill(13)

In [28]:
missing_scheme

        scheme_code  dept_code
0    403000000000.0          1
1    401000000000.0          2
2     70001010100.0         23
3     30038000400.0          9
4    230000000000.0          9
5    220000000000.0          9
6    210000000000.0          9
7   1460000000000.0         12
8   1460000000000.0         12
9    210000000000.0          9
10    70021010000.0         27
11   221000000000.0          9
12    40001030201.0          9
13    40001030202.0          9
14    40001100401.0          9
15    42001030200.0          9
16    42001040200.0          9
17    40001030102.0          9
18    40001100402.0          9
19    42001030300.0          9
20   406000000000.0         13
21    42001040300.0          9
22    45008000400.0          9
23    45001010301.0          9

In [29]:
list=['403000000000', '401000000000', '70001010100',
       '30038000400', '230000000000', '220000000000',
       '210000000000', '1460000000000', '70021010000',
       '221000000000', '40001030201', '40001030202',
       '40001100401', '42001030200', '42001040200', '40001030102',
       '40001100402', '42001030300', '406000000000',
       '42001040300', '45008000400', '45001010301']

In [30]:
missing_list=[]
for i in list:
    missing_list.append(i.zfill(13))

In [31]:
len(missing_list)

22

In [32]:
 list1=[1,2,23,9,9,9,9,12,27,9,9,9,9,9,9,9,9,9,13,9,9,9]
len(list1)

22

In [33]:
other_scheme1=pd.DataFrame({'scheme_code':missing_list,'dept_code':list1})

In [34]:
other_scheme=pd.concat([other_scheme,other_scheme1])

In [35]:
other_scheme.reset_index(drop=True,inplace=True)

In [36]:
other_scheme

    dept_code    scheme_code
0           1  0403001051300
1           2  0401001070500
2          27  0070608000002
3           9  0230001060600
4           9  0220001040100
5           9  0210018000000
6          12  1456008000200
7          12  1456008000109
8          15  0210041040300
9          21  0220601040100
10         13  0406041010700
11          1  0403000000000
12          2  0401000000000
13         23  0070001010100
14          9  0030038000400
15          9  0230000000000
16          9  0220000000000
17          9  0210000000000
18         12  1460000000000
19         27  0070021010000
20          9  0221000000000
21          9  0040001030201
22          9  0040001030202
23          9  0040001100401
24          9  0042001030200
25          9  0042001040200
26          9  0040001030102
27          9  0040001100402
28          9  0042001030300
29         13  0406000000000
30          9  0042001040300
31          9  0045008000400
32          9  0045001010301

In [37]:
dept_scheme=pd.concat([dept_scheme,other_scheme]).reset_index(drop=True)

In [38]:
dept_scheme.to_csv('dept_schemes.csv')

In [39]:
missing_mapping=missing_mapping.drop('major_head',axis=1)

In [40]:
missing_mapping.to_csv('missing_mappings.csv')

In [41]:
missing_mapping

       scheme_code  dept_code
0    0022001010100          2
1    0028001080100          9
2    0028001090100          9
3    0029001010100         36
4    0029001010200         36
..             ...        ...
278  1601048001300         47
279  1601048001400         47
280  1601048001500         47
281  1601048001600         47
282  1601048001700         47

[281 rows x 2 columns]

In [42]:
mapping=pd.concat([dept_scheme,missing_mapping]).reset_index(drop=True)

In [43]:
mapping

      dept_code    scheme_code major_head
0             1  0216017000700       0216
1             1  0403001020100       0403
2             1  0403001020200       0403
3             1  0403001020300       0403
4             1  0403001020400       0403
...         ...            ...        ...
1313         47  1601048001300        NaN
1314         47  1601048001400        NaN
1315         47  1601048001500        NaN
1316         47  1601048001600        NaN
1317         47  1601048001700        NaN

[1318 rows x 3 columns]

In [44]:
mapping.to_csv('dept_map.csv')

In [45]:
data=pd.read_csv('original.csv')

In [46]:
data.drop(['Unnamed: 0'],axis=1,inplace=True)

In [47]:
data.scheme_code=data.scheme_code.astype(np.int64)

In [48]:
data=data[data.scheme_code < 2000000000000]

In [49]:
data.scheme_code=data.scheme_code.astype(str)

In [50]:
data.scheme_code=data.scheme_code.str.zfill(13)

In [51]:
majorheads=[]
for i in data['scheme_code']:
    majorheads.append(i[:4])
data['major_head']=majorheads

In [52]:
data[data.major_head=='1425']

          scheme_code  amount  tran_month  tran_year major_head
772979  1425008000000   690.0         6.0     2017.0       1425

In [53]:
data.drop(772979,inplace=True)

In [54]:
data.reset_index(drop=True,inplace=True)

In [55]:
data

           scheme_code  amount  tran_month  tran_year major_head
0        0055001040100  1500.0         1.0     2019.0       0055
1        0202016000100   150.0         1.0     2019.0       0202
2        0202016000100   150.0         1.0     2019.0       0202
3        0040001100101    22.0         1.0     2019.0       0040
4        0040001100101    17.0         1.0     2019.0       0040
...                ...     ...         ...        ...        ...
1310671  0041001020200  7800.0         4.0     2022.0       0041
1310672  0040001030201   500.0         4.0     2022.0       0040
1310673  0041001020200  8500.0         4.0     2022.0       0041
1310674  0041001020200  4000.0         4.0     2022.0       0041
1310675  0041001020200  4000.0         4.0     2022.0       0041

[1310676 rows x 5 columns]

In [56]:
data=pd.merge(data,mapping,on='scheme_code',how='left')

In [57]:
data=pd.merge(data,dept,on='dept_code',how='left')

In [58]:
data

,scheme_code,amount,tran_month,tran_year,major_head_x,dept_code,major_head_y,dept_name
0,0055001040100,1500.0,1.0,2019.0,0055,18,0055,Home (Police)
1,0202016000100,150.0,1.0,2019.0,0202,7,0202,Education And Human Resources
2,0202016000100,150.0,1.0,2019.0,0202,7,0202,Education And Human Resources
3,0040001100101,22.0,1.0,2019.0,0040,9,NaN,"Excise, Registration, Taxation And Stamps"
4,0040001100101,17.0,1.0,2019.0,0040,9,NaN,"Excise, Registration, Taxation And Stamps"
...,...,...,...,...,...,...,...,...
1310671,0041001020200,7800.0,4.0,2022.0,0041,43,0041,Transport Department
1310672,0040001030201,500.0,4.0,2022.0,0040,9,NaN,"Excise, Registration, Taxation And Stamps"
1310673,0041001020200,8500.0,4.0,2022.0,0041,43,0041,Transport Department
1310674,0041001020200,4000.0,4.0,2022.0,0041,43,0041,Transport Department
1310675,0041001020200,4000.0,4.0,2022.0,0041,43,0041,Transport Department

In [59]:
data.to_csv('mapping_department.csv')